
  adelaide.lml.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:5173
  }
  

  gigs.lml.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:5173
  }
  

  perth.lml.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:5173
  }
  

  sydney.lml.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:5173
  }
  

  api.lml.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:3000
  }
  

  brisbane.lml.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:3000
  }
  

  castlemaine.lml.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:3000
  }
  

  geelong.lml.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:3000
  }
  

  goldfields.lml.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:3000
  }
  

  livemusiclocator.com.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:3000
  }
  

  melbourne.lml.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:3000
  }
  

  stkilda.lml.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:3000
  }
  

  www.livemusiclocator.com.test {
    log
    root * /var/www
    encode zstd gzip
    tls internal
    reverse_proxy localhost:3000
  }
  
