
<% content_for :content do  %>

<main class="relative z-40 flex-1">
  <!-- Background Map Component -->
  <%= render 'web/explorer/shared/map' %>
  
  <!-- Filter Overlay Panel (FilterWrapper styled-component equivalent) -->
  <div 
    class="z-20 absolute bottom-0 left-0 w-full max-w-2xl p-0 h-full md:max-h-full flex flex-col py-2 overflow-hidden group bg-white md:rounded-3xl md:shadow-xl ease-in-out duration-150 transition-[height] m-0 md:m-2"
    data-controller="explorer-overlay"
    data-explorer-overlay-expanded-class="h-full md:h-[55rem]"
    data-explorer-overlay-minimized-class="is-minimised border rounded-t-3xl h-40"
    data-explorer-overlay-expanded-value="true"
    data-explorer-overlay-auto-expand-on-navigation-value="true"
    data-action="keydown->explorer-overlay#keydown touchstart->explorer-overlay#touchStart touchend->explorer-overlay#touchEnd"
    role="dialog"
    aria-expanded="true"
    aria-label="Content overlay"
  >
    <!-- Navigation Bar -->
    <nav class="flex items-center w-full p-2 border-b border-gray-200">
      <!-- Back Button (when applicable) -->
      <% if content_for?(:show_back_button) %>
        <%= link_to "javascript:history.back()", 
            class: "flex items-center space-x-2 text-blue-600 hover:text-blue-800" do %>
          <!-- ChevronLeftIcon equivalent -->
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
          </svg>
        <% end %>
      <% end %>
      
      <!-- Toggle Button for Overlay Expansion -->
      <button 
        class="w-full duration-200 cursor-pointer"
        data-action="click->explorer-overlay#toggle"
        data-explorer-overlay-target="toggleButton"
        id="overlay-expand-button"
        type="button"
        aria-label="Toggle overlay"
      >

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="m-auto h-6" viewBox="0 0 16 16" data-explorer-overlay-target="minimizeIcon">
          <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8z"/>
          <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16" class="hidden m-auto m-6" data-explorer-overlay-target="expandIcon">
          <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
        </svg>
      </button>
    </nav>

    <!-- Content Area (Outlet renders child components here) -->
      <%= yield %>
  </div>
</main>

<% end %>

<%= render template: "web/layouts/application" %>
