/* app/assets/stylesheets/web/application.scss */
body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background: green;
  padding: 1rem;

  a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

main {
  padding: 2rem;
}
