      <aside class='shrink p-4'>
          <nav>
              <ul class="space-y-4">
              <% about_section_nav.each do |item| %>
                <li>
              <%= link_to item[:path], class: class_names('font-normal', { "font-semibold": current_page?(item[:path]) })  do %>
                <%= item[:name] %>
                  </li>
              <% end %>
            <% end %>
              </ul>
          </nav>
      </aside>
