      <!-- Left Sidebar Navigation -->
      <aside>
          <nav class="space-y-2">
              <ul>
              <% about_section_static_pages.each do |item| %>
                  <li>
              <%= link_to item[:path] do %>
                <%= item[:name] %>
                  </li>
              <% end %>
            <% end %>
              </ul>
          </nav>
      </aside>
