<div class="flex-1 pl-2">
  <%= link_to web_root_path, class: "flex justify-start items-center text-slate-50 space-x-2 font-sans" do %>
    <!-- TODO: Replace with actual theme brandmark -->
    <%= image_tag 'lml-brandmark.svg', class: "flex-shrink w-10", alt: "Brand Logo" %>
    <span class="text-xl"><!-- TODO: Replace with actual theme title -->Live Music Locator</span>
  <% end %>
</div>