<header class="w-full bg-gray-800 text-white px-2 sticky top-0 z-50">
  <div class="max-w-8xl mx-auto py-2">
    <div class="flex justify-start items-center space-x-1">
      <%= render 'web/shared/hamburger_menu' %>
      <%= render 'web/shared/logo' %>
      <%= render 'web/shared/desktop_menu' %>
    </div>
  </div>
  <%= render 'web/shared/mobile_menu' %>
</header>