<div class="mb-6">
  <div class="flex flex-wrap gap-2">
    <% gig[:genres].each do |genre| %>
      <span class="inline-block px-3 py-1 bg-lmlpink text-white text-sm font-medium rounded-full">
        <%= genre.is_a?(Hash) ? genre[:value] || genre['value'] : genre %>
      </span>
    <% end %>
  </div>
</div>
