
<% title "Live Music Locator Geelong" %>
    <section>
<p>Live Music Locator is a pilot service that helps you discover all
live music events in the City of Greater Geelong.</p>
<p>Our live gig information is verified within 48 hours, ensuring you
get accurate and up-to-date info.</p>
<p>Live Music Locator is a not-for-profit charity, partnering with the
    <a href="https://www.geelongaustralia.com.au/arts/default.aspx" rel="noopener noreferrer" target="_blank">City of
Greater Geelong</a>.</p>
<p>Or if you’d like to join us, you can volunteer!</p>
<p>You can contact us at via <a href="mailto:gigs@livemusiclocator.com.au">gigs@livemusiclocator.com.au</a>.</p>

    </section>
