<% title "About Live Music Locator" %>
    <section>
      <h2>Find your music, lose yourself.</h2>
        <p>Live Music Locator is a new not-for-profit* service designed to make it possible to discover every gig playing at every venue across every genre at any one time.</p>

        <p>This information will always be verified and free, importantly supporting musicians, our small to medium live music venues, and you the punters.</p>

        <p>We carry the most comprehensive information you will find on gigs in the geographical areas we are covering. Right now that is Fitzroy, Collingwood, St Kilda and Richmond in Melbourne. This year we will be expanding to cover all of Victoria.</p>

        <p>Live Music Locator is listed on the Register of Cultural Organisations and has full Charity Tax Concession status.<br>
        All donations are 100% tax deductable.<br>
        ABN 69 680 443 832</p>

        <p>To find out more or provide any feedback <%= link_to web_about_contact_page_path do %>contact us <% end %>.</p>
    </section>
