<% title "Live Music API, Stats, and Data" %>
    <section>
        <p>If you're looking for live music gig guide and performance data, please help yourself:</p>
        <ul>
            <li><a href="https://docs.google.com/document/d/1cEK9IttrvAuEajNMffjbbPWfv6LXHfes8Op9CjYmeTQ/edit?usp=sharing">API Documentation</a> for Live Music Locator.</li>
            <li><a href="https://app.powerbi.com/view?r=eyJrIjoiZmMzMzI3OGMtZmIzYy00MDNhLWE5ZWEtYmJlYjkyOTI3MmY5IiwidCI6IjBmNWUxOWI1LWRjMGItNDIwNy05M2Q1LTdkNmNjNThlMmU0NiJ9">Live music performance stats</a> (Power BI report).</li>
            <li><a href="https://generator.lml.live/">Download your gig data here</a> (json, csv, excel, text).</li>
        </ul>
        <p>For more information, please <%= link_to about_page_path(:contact) do %>contact us <% end %>.</p>
    </section>
