<% content_for :title do %>
  API Documentation
<%end%>
    <h1>API Documentation</h1>
    <section>
        <a href="https://docs.google.com/document/d/1cEK9IttrvAuEajNMffjbbPWfv6LXHfes8Op9CjYmeTQ/edit?usp=sharing">API Documentation</a>
    </section>
