<% title "API Documentation" %>
    <section>
        <p>
            <a href="https://docs.google.com/document/d/1cEK9IttrvAuEajNMffjbbPWfv6LXHfes8Op9CjYmeTQ/edit?usp=sharing">API Documentation</a> for Live Music Locator.
        </p>
    </section>