
<% title "Contact Us" %>


<section>
    <h3>Feedback</h3>
    <p>Tell us what you thought of LiveMusicLocator.  What did you love? What needs to be better?</p>
    <h2>Connect</h2>
    <p>We'd love to hear from you! Whether you have a question, suggestion, or just want to say hello, feel free to reach out.</p>
    <ul>
        <li>General enquiries: <a href="mailto:gigs@livemusiclocator.com.au">gigs@livemusiclocator.com.au</a></li>
        <li>Venue liaison: <a href="mailto:venues@livemusiclocator.com.au">venues@livemusiclocator.com.au</a></li>
        <li>To join our volunteers: <a href="mailto:volunteer@livemusiclocator.com.au">volunteer@livemusiclocator.com.au</a></li>
        <li>Social Media enquiries: <a href="mailto:socials@livemusiclocator.com.au">socials@livemusiclocator.com.au</a></li>
        <li>Press enquiries: <a href="mailto:publicity@livemusiclocator.com.au">publicity@livemusiclocator.com.au</a></li>
        <li>Tech enquiries: <a href="mailto:mark@livemusiclocator.com.au">mark@livemusiclocator.com.au</a></li>
    </ul>
</section>
