
<% title "Contact Us" %>


<section>
    <div>
        <h3>Feedback</h3>
        <p>Tell us what you thought of LiveMusicLocator.  What did you love? What needs to be better?</p>
        <p><mark>Get the embed for Google Form or agree new approach with Nick</mark></p>
        <h2>Connect</h3>
            <p>Talk about collaborations, volunteering, or what we're doing with Live Music Locator</p>
            <p><a href="mailto:info@livemusiclocator.com.au">info@livemusiclocator.com.au</a></p>
            <div>
                <p>Email: <a href="mailto:nicko@livemusiclocator.com.au">nicko@livemusiclocator.com.au</a></p>
                <p>Tel: <a href="tel:+61418333707">(+61) 0418 333 707</a></p>
            </div>
            <div>
                <p>Email: <a href="mailto:martin@livemusiclocator.com.au">martin@livemusiclocator.com.au</a></p>
                <p>Tel: <a href="tel:+61410402550">(+61) 0410 402 550</a></p>
            </div>
            <div>
                <p>Website: <a href="https://www.livemusiclocator.com.au" target="_blank">www.livemusiclocator.com.au</a></p>
            </div>
        </div>
    </section>
