<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>DIY Gig Guide</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="the-team.html">The Team</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="privacy-policy.html">Privacy Policy</a></li>
        <li><a href="tech.html">Tech</a></li>
        <li><a href="volunteering.html">Volunteer With Us</a></li>
        <li><a href="diy-gig-guide.html">DIY Gig Guide</a></li>
        <li><a href="fresh-live-music-data.html">Fresh Live Music Data</a></li>
        <li><a href="https://docs.google.com/document/d/1cEK9IttrvAuEajNMffjbbPWfv6LXHfes8Op9CjYmeTQ/edit?usp=sharing">API Documentation</a></li>
        <li><a href="_downloads.html">Downloads</a></li>
        <li><a href="how-to-use-livemusiclocator.html">How To Use Live Music Locator</a></li>
      </ul>
    </nav>
    <h1>DIY Gig Guide</h1>
    <section>
      <mark>Get this iframe working?</mark>
      <iframe jsname="WMhH6e" src="https://www.gstatic.com/atari/embeds/83a60601c213b72fb19c1855fb0c5f26/intermediate-frame-minified.html?jsh=m%3B%2F_%2Fscs%2Fabc-static%2F_%2Fjs%2Fk%3Dgapi.lb.en.iFs_Bhrqdio.O%2Fd%3D1%2Frs%3DAHpOoo-IvlQWaLHZdUKQFbafXd_3OEvU9Q%2Fm%3D__features__&amp;r=667905471" class=" YMEQtf" frameborder="0" sandbox="allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox allow-downloads allow-storage-access-by-user-activation" id="7b14c77560480548_8" name="7b14c77560480548_8" scrolling="no"></iframe>

    </section>
    <footer>
      <p>Acknowledgement of Country
      <br/>We respect and honour Aboriginal and Torres Strait Islander Elders past, present and future. 
      <br/>We acknowledge the stories, traditions and living cultures of Aboriginal and Torres Strait Islander peoples on this land.</p>
    </footer>
  </body>
</html>