<% content_for :title do %>
  Fresh Live Music Data
<%end%>
    <h1>Fresh Live Music Data</h1>
    <section>
      <iframe id="innerFrame" name="innerFrame" sandbox="allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox allow-downloads allow-storage-access-by-user-activation" frameborder="0" allowfullscreen="" src="https://app.powerbi.com/view?r=eyJrIjoiMWMzNWNlOWUtMzk1NC00MjhlLWE3MmUtOWMzMzQxYjIwNTVkIiwidCI6IjBmNWUxOWI1LWRjMGItNDIwNy05M2Q1LTdkNmNjNThlMmU0NiJ9" style="overflow: auto;">
      </iframe>
    </section>
