      <% content_for :title do %>
        How To Use Live Music Locator</title>
        <%end%>
    <h1>Get your live music here</h1>
    <section>
      <p>On your phone: just go to <a href="http://livemusiclocator.com.au">Live Music Locator</a> and start looking for live music.</p>

      <p>In Facebook: Follow us to see upcoming gigs: <a href="https://www.facebook.com/ifyoudontknowyoucantgo">https://www.facebook.com/ifyoudontknowyoucantgo</a></p>

      <p>On Instagram: <a href="https://www.instagram.com/lml.live/">https://www.instagram.com/lml.live/</a></p>

      <p>Subscribe to our RSS feed: <a href="https://api.lml.live/gigs/feed">https://api.lml.live/gigs/feed</a></p>

      <p>Use our DIY Gig Guide to create your <strong>own</strong> gig guide, or share information about gigs any way you like, including Facebook, email or text.</p>

      <p>At certain tram stops: <a href="https://www.youtube.com/shorts/ZvmTBDFxETo">https://www.youtube.com/shorts/ZvmTBDFxETo</a></p>

      <p>Our vision is to make Live Music more easily discoverable. If you are technically inclined, or would like to include gig info in your existing product, we have a free and open API. You can just tap right into it and display accurate, timely, geolocated gig information within your product.<br>
      All the documentation you need is <a href="https://docs.google.com/document/d/1cEK9IttrvAuEajNMffjbbPWfv6LXHfes8Op9CjYmeTQ/edit?usp=sharing">here</a>.<br>
      Please drop us an email at <a href="mailto:gigs@livemusiclocator.com.au">gigs@livemusiclocator.com.au</a> if you are using the API, so we can provide help if you need it.</p>
    </section>
