<% title "St Kilda Live Music Locator" %>
<% override_page_heading "About Live Music Locator in St Kilda"  %>

<p>Live Music Locator is a pilot service that helps you discover all live music events in the City of Port Phillip.</p>

<p>Our data is verified within 48 hours, ensuring you get accurate and up-to-date info.</p>

<p>Live Music Locator is a not-for-profit charity, partnering with the <a href="https://www.portphillip.vic.gov.au/about-the-council/governance-performance-and-advocacy/advocacy/advocacy-priorities/live-music-events/">City of Port Phillip</a>, alongside the <a href="https://aclandstreetvillage.com.au/">Acland Street Village Business Association</a> and the <a href="https://fitzroystreetstkilda.com.au/">Fitzroy St Business Association</a>, to support local music and local venues.</p>

<p>Plus, we have a free API for developers. So hack on that and roll your own personal gig guide. Or if you’d like to join us, you can volunteer!</p>

<p>You can contact us at <a href="mailto:gigs@livemusiclocator.com.au">gigs@livemusiclocator.com.au</a>
