<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Git Involved - Live Music Locator</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="the-team.html">The Team</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="privacy-policy.html">Privacy Policy</a></li>
        <li><a href="tech.html">Tech</a></li>
        <li><a href="volunteering.html">Volunteer With Us</a></li>
        <li><a href="diy-gig-guide.html">DIY Gig Guide</a></li>
        <li><a href="fresh-live-music-data.html">Fresh Live Music Data</a></li>
        <li><a href="https://docs.google.com/document/d/1cEK9IttrvAuEajNMffjbbPWfv6LXHfes8Op9CjYmeTQ/edit?usp=sharing">API Documentation</a></li>
        <li><a href="_downloads.html">Downloads</a></li>
        <li><a href="how-to-use-livemusiclocator.html">How To Use Live Music Locator</a></li>
      </ul>
    </nav>
    <h1>Git Involved</h1>
    <section>
      <p>We're building an open, free REST API providing geolocated, real-time information about all the gigs in Victoria, with an aim to include all of Australia (and maybe the world). We're especially interested in supporting young &amp; emerging artists, and small &amp; medium venues.</p>

      <p>Live Music Locator is supporting the growth of contemporary music in Australia by developing a high quality, accurate and reliable digital gig-listing feed as well as location-specific gig promotion for local, national and international audiences.</p>

      <p>Unlike existing gig listings, Live Music Locator is a single source of truth including every gig in a dedicated region, providing detailed geolocated information verified within 48 hrs of the event.</p>

      <p>This feed is provided in a form which can be easily consumed by punters, as well as enabling app and website builders to easily discover and promote live music experiences.</p>

      <p>Live Music Locator leverages recent advances in technology to access, classify and verify publicly available data, and makes this information available through a free API.</p>

      <p>If you have skills in:</p>
      <ul>
        <li>Admin</li>
        <li>JavaScript &amp; React</li>
        <li>Ruby &amp; Rails</li>
        <li>UXD or Design</li>
      </ul>

      <p>and you love live music...</p>

      <p>Come and join us!</p>

      <p><a href="contact.html">Get in touch</a> if you are interested.</p>

    </section>
    <footer>
      <p>Acknowledgement of Country
      <br/>We respect and honour Aboriginal and Torres Strait Islander Elders past, present and future. 
      <br/>We acknowledge the stories, traditions and living cultures of Aboriginal and Torres Strait Islander peoples on this land.</p>
    </footer>
  </body>
</html>