<% content_for :title do %>
  Git Involved
<% end %>
    <h1>Git Involved</h1>
    <section>
      <p>We're building an open, free REST API providing geolocated, real-time information about all the gigs in Victoria, with an aim to include all of Australia (and maybe the world). We're especially interested in supporting young &amp; emerging artists, and small &amp; medium venues.</p>

      <p>Live Music Locator is supporting the growth of contemporary music in Australia by developing a high quality, accurate and reliable digital gig-listing feed as well as location-specific gig promotion for local, national and international audiences.</p>

      <p>Unlike existing gig listings, Live Music Locator is a single source of truth including every gig in a dedicated region, providing detailed geolocated information verified within 48 hrs of the event.</p>

      <p>This feed is provided in a form which can be easily consumed by punters, as well as enabling app and website builders to easily discover and promote live music experiences.</p>

      <p>Live Music Locator leverages recent advances in technology to access, classify and verify publicly available data, and makes this information available through a free API.</p>

      <p>If you have skills in:</p>
      <ul>
        <li>Admin</li>
        <li>JavaScript &amp; React</li>
        <li>Ruby &amp; Rails</li>
        <li>UXD or Design</li>
      </ul>

      <p>and you love live music...</p>

      <p>Come and join us!</p>

      <p><%= link_to web_about_contact_page_path do %>Get in touch<% end %> if you are interested.</p>

    </section>
