<% title "The Team" %>

    <section>
        <h1>The Team</h1>
        <p>Our Live Music Locator volunteers bring you this service every day</p>
        <ul>
        <h2> Volunteers</h2>
          <li><strong>Luca Cave</strong> - Tech Leader</li>
          <li><strong>01.Ekka</strong> - Hip Hop Artist, Social Media Coordinator, Entrepreneur</li>
          <li><strong>Phil Hickey</strong> - Graphic Designer</li>
          <li><strong>Sharon Irish</strong> - Tech Leader</li>
          <li><strong>Craig Kelly</strong> - Graphic Designer, Bassist</li>
          <li><strong>Aron Lebani</strong> - Tech Leader</li>
          <li><strong>Dr Ned Letcher</strong> - Data Scientist</li>
          <li><strong>Paige Mulholland</strong> - National Media Relations Advisor, Ukeleleist</li>
          <li><strong>Mark Pirie</strong> - Project Manager</li>
          <li><strong>Patrick Quinlan</strong> - Data Scientist, Guitarist</li>
          <li><strong>Lilly Ryan</strong> - Cyber Security Advisor, RRR 'byte into it' Presenter</li>
          <li><strong>Frederic Robert</strong> - PHD Astrophysicist</li>
          <li><strong>Jen Smith</strong> - Tech Leader, Piano Accordionist</li>
          <li><strong>Karen Stewart</strong> - LML Venue Liaison</li>
          <li><strong>Joe Sustaric</strong> - Tech Leader</li>
          <li><strong>Tom Sulston</strong> - Technologist, Social Impact Specialist, Mandolinist</li>
          <li><strong>Eugene Tang</strong> - Tech Leader</li>
          <li><strong>Travis Winters</strong> - Tech Leader, Blues Guitarist</li>
          <li><strong>Lily Ryan</strong> - RRR “byte into it” Presenter</li>
        </ul>
        <h2>Directors</h2>
        <ul>
          <li><strong>Nick Thorpe</strong> - Chief Product Officer</li>
          <li><strong>Martin Paten</strong> - Chief Operating Officer</li>
          <li><strong>Mark Ryall</strong> - Chief Technology Officer</li>
        </ul>

    </section>
