    <h1>The Team</h1>
    <section>
      <h2>Leaders</h2>

      <article>
        <h3>Nick Thorpe <small>- Chief Product Officer</small></h3>
        <p>Alongside his career as a music journalist and musician, Nick has created digital products, or consulted on the same, since the 90’s.</p>
        <p>Nick led multiple key roles across a 12 year period with the international consultancy Thoughtworks, where he was a Principal Consultant and also served on the leadership team for the Australian business.</p>
        <p>Nick has been working as a double bass player in South Australia and Victoria for 40+ years, most recently with The Prayerbabies, The Harmaniax, Peter and the Wolves, Louisa Wise, Blue Note, The Martini Set and country/bluegrass stalwarts Family Farm. He averages about 50 gigs a year in Victoria.</p>
        <p>Nick is part of the Midnight Assembly recording project. He writes and releases original material as Stepkid, which includes hip hop collaborations with local Melbourne rising star 01.Ekka.</p>
      </article>

      <article>
        <h3>Martin Paten <small>- Chief Operating Officer</small></h3>
        <p>Martin Paten is widely respected as a key national figure in the Australian arts and cultural sectors, having built solid arts industry relationships across urban, regional and remote Australia, and internationally, for 30 years.</p>
        <p>Martin delivered five resoundingly successful Castlemaine State Festival events from 2009 to 2017, establishing it unequivocally as Australia’s premier Regional Arts Festival, nationally and internationally.</p>
        <p>Martin went to the Castlemaine State Festival following 10 years of senior management within the Arts and Culture Branch of the City of Melbourne, where he performed key roles managing their City Culture portfolio.</p>
        <p>Martin was appointed to the role of Director and CEO, Footscray Community Arts Centre (FCAC) in 2017 where he led the organisation through significant business, structural and programming change.</p>
        <p>Martin left Footscray Community Arts Centre to take up the role of Manager Arts and Culture for the City of Greater Geelong in 2019, overseeing a $21M program, and further strengthening Geelong’s reputation as a nationally significant cultural centre.</p>
        <p>Martin launched an independent arts practice, Martin Paten &amp; Co. in 2023, dedicated to assisting artists and organisations with bringing their creative ideas to life.</p>
      </article>

      <article>
        <h3>Mark Ryall <small>- Chief Technology Officer</small></h3>
        <p>Mark Ryall is a seasoned technical leader with a career spanning over two decades in the software development industry.</p>
        <p>He currently holds the position of Principal Engineer at Fresho.</p>
        <p>Mark's technical experience is diverse, having contributed code and leadership to organisations like Automattic, Everyday Hero, ThoughtWorks and Urbanise.com.</p>
        <p>Apart from his technical pursuits, Mark is passionate about music, as a diverse listener, a broadcaster and a multi-instrumentalist.</p>
        <p>He’s a diehard believer in community radio, and blends his love for music and community service in his radio show about intergenerational music which he hosts with his child at the mighty 4ZZZ Radio in Brisbane.</p>
        <p>Mark's dedication to making useful technology for humans is matched by his commitment to music and community, making him a multifaceted professional and creative force.</p>
      </article>
    </section>
  <section>
        <h2>Specialist Volunteers</h2>
        <ul>
          <li><strong>Luca Cave</strong> - Tech Leader</li>
          <li><strong>01.Ekka</strong> - Hip Hop Artist, Social Media Coordinator, Entrepreneur</li>
          <li><strong>Phil Hickey</strong> - Graphic Designer</li>
          <li><strong>Sharon Irish</strong> - Tech Leader</li>
          <li><strong>Craig Kelly</strong> - Graphic Designer, Bassist</li>
          <li><strong>Aron Lebani</strong> - Tech Leader</li>
          <li><strong>Dr Ned Letcher</strong> - Data Scientist</li>
          <li><strong>Paige Mulholland</strong> - National Media Relations Advisor, Ukeleleist</li>
          <li><strong>Mark Pirie</strong> - Project Manager</li>
          <li><strong>Patrick Quinlan</strong> - Data Scientist, Guitarist</li>
          <li><strong>Lilly Ryan</strong> - Cyber Security Advisor, RRR 'byte into it' Presenter</li>
          <li><strong>Frederic Robert</strong> - PHD Astrophysicist</li>
          <li><strong>Jen Smith</strong> - Tech Leader, Piano Accordionist</li>
          <li><strong>Karen Stewart</strong> - LML Venue Liaison</li>
          <li><strong>Joe Sustaric</strong> - Tech Leader</li>
          <li><strong>Tom Sulston</strong> - Technologist, Social Impact Specialist, Mandolinist</li>
          <li><strong>Eugene Tang</strong> - Tech Leader</li>
          <li><strong>Travis Winters</strong> - Tech Leader, Blues Guitarist</li>
          <li><strong>Lily Ryan</strong> - RRR “byte into it” Presenter</li>
        </ul>
    </section>
