<% title "Volunteer With Us" %>

      <h2>Help us make Live Music Easier to Find!</h2>
      <p>We're currently looking to fill the following volunteer roles. <a href="mailto:volunteer@livemusiclocator.com.au">Contact us</a> if you want to get involved!</p>

      <h2>Gig Researchers</h2>
      <p><strong>Love Live Music?</strong> We need more volunteers to research  gigs for Melbourne and Regional Victoria. You will work in a team to find all the gigs in a given "patch" each week, forming relationships with venues and acts as you go. </p >

      <h2>Tech Volunteers</h2>
      <p>We are always looking for technical volunteers! Whether you're a beginner or an experienced hand – if you would like to help us build the platform, we’d love to have you as a volunteer.</p> 
      <p>Unlike existing commercial gig listings, Live Music Locator is a single source of truth including every gig in a dedicated region, providing detailed geolocated information verified within 48 hrs of the event.</p>

      <p>Building and maintaining this open platform is the work of our tech volunteers.</p>

      <p>We're always improving our open, free REST API, providing geolocated, real-time information about all the gigs in Victoria, with an aim to include all of Australia. We do this work to support young & emerging artists, and small & medium venues.</p>  

      <p>We're constantly improving our admin systems and gig guide experience and we would love you to join us, whatever your level of experience.</p> 

      <p>This feed is provided in a form which can be easily consumed by punters, enabling app and website builders to easily discover and promote live music experiences.</p>
      
      <p>Live Music Locator leverages recent advances in technology to access, classify and verify publicly available data, and makes this information available through a free API.</p>

      <p>If you have skills in:</p>
      <ul>
        <li>JavaScript & React</li>
        <li>Ruby & Rails</li>
        <li>UXD or Design</li>
      </ul>

      <p>and you love live music...</p>
      <p><strong>come and join us!</strong></p>

      Email <a href="mailto:volunteer@livemusiclocator.com.au">volunteer@livemusiclocator.com.au</a> if you are interested.
