<% content_for :title do %>
  Volunteers
<% end %>
    <h1>Volunteer With Us</h1>
    <section>
      <p>Help us make Live Music Easier to Find!</p>
      <p>We're currently looking to fill the following volunteer roles. <a href="contact.html">Contact us</a> if you want to get involved!</p>

      <h2>Social Media Gardener</h2>
      <p>We're seeking a creative Social Media Gardener to nurture, grow, and maintain our online presence. If you love cultivating engaging content, trimming back weeds (spam comments), and harvesting audience growth, get in touch. We want to build content in our social channels, and build win-win relationships with other Live Music Content.</p>

      <h2>Gig Researchers</h2>
      <p>Love Live Music? We need more volunteers to research gigs for Melbourne and Regional Victoria. You will work in a team to find all the gigs in a given "patch" each week, forming relationships with Venues and Acts as you go.</p>

      <h2>Technical Volunteers</h2>
      <p>Love music, coding, and want to make a difference? Our technical volunteers work to create and maintain the LiveMusicLocator Platform. We're looking for enthusiastic developers ready to pitch in, debug, build features, and help our digital projects thrive.</p>
      <ul>
        <li>Contribute code to meaningful projects.</li>
        <li>Collaborate with fellow volunteers.</li>
        <li>Learn, grow, and share your tech skills.</li>
      </ul>

      <h2>Volunteer Co-ordinator (and — yes, it's a volunteer position)</h2>
      <p>We’re seeking an organised and enthusiastic Volunteer Coordinator to help manage, support, and grow our volunteer community!</p>
      <strong>Your role</strong>
      <ul>
        <li>Recruit, onboard, and engage new volunteers.</li>
        <li>Organise schedules and facilitate communication.</li>
        <li>Provide support, training, and encouragement.</li>
      </ul>
      <strong>You’ll be great if:</strong>
      <ul>
        <li>You’re organized and approachable and love live music.</li>
        <li>You enjoy building relationships and supporting teams.</li>
        <li>You can dedicate a day a week.</li>
      </ul>
    </section>
